bootstrap/cache/*
storage/app/*
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/framework/testing/**
storage/logs/*

vendor
node_modules

.env
.env.example
.git
.idea
**.gitignore
**.gitattributes
**.sass-cache

phpunit.xml
readme.md
phpspec.yml

docker-compose.yml

Makefile